body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    line-height: 1.5;
    padding: 0;
    margin: 0;
    background-color: #ffffff;
}

/* Global */


.container-1 {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

.container-2 {
    display: flex;
    padding: 0;
    margin: 0;
    list-style: none;
    justify-content: center;
    overflow: hidden;
}

.container-3 {
    display: flex;
    justify-content: space-evenly;
}

.container-4 {
    display: flex;
    padding: 0;
    margin: 0;
    list-style: none;
    justify-content: center;
    overflow: hidden;
}

ul {
    margin: 0;
    padding: 0;
}

/* Header */
header {
    background-color: #ffffff;
    color: #2E282A;
    padding-top: 15px;
    padding-bottom: 15px;
}

header a{
    color: #2E282A;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 15px;
}

header nav{
    float: right;
    margin-top: 10px;
}

header li{
    display: inline-block;
    padding: 0 30px 0 0px;
}

/* introSection */
#introSection {
    background-color: #ffffff;
    background-image: url(img/coffee222.jpg);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    color: #2E282A;
}

#introSection .container-1{
    text-transform: uppercase;
    margin-top: 100px;
    text-align: center;
    height: 807px;
}

#introSection h1{
    margin: 0;
    font-size: 40px;
}

/* About section */

.box-1 {
    background: #F4F4F6;
    width: 660px;
    min-height: 800px;
    line-height: 30px;
    padding-left: 50px;
    padding-right: 50px;
    color: black;
    border-bottom-left-radius: 15px;
    border-top-left-radius: 15px;
}

.box-2 {
    width: 500px;
    background-color: #F4F4F6;
    border-bottom-right-radius: 15px;
    border-top-right-radius: 15px;
}

.box-2 img {
    max-width: 100%;
    height: auto;
    border-top-right-radius: 15px;
}

/* Skills section */

#Skills{
    margin: auto;
    max-width: 1250px;
}

.container-3 img {
    display: block;
    max-width: 100%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}

.container-3 h1 {
    text-align: center;
    padding-left: 50px;
    padding-right: 50px;
}

.container-3 p {
    text-align: center;
    padding-left: 50px;
    padding-right: 50px;
}

.box-3 {
    flex-basis: 30%;
}

.box-4 {
    flex-basis: 30%;
}

.box-5 {
    flex-basis: 30%;
}

/* Contact section */

.box-6 {
    background-image: url(img/mail.jpg);
    background-size: cover;
    color: white;
    text-align: center;
    padding: 70px;
    margin-top: 10px;
    margin-bottom: 200px;
    width: 1120px;
}
.box-6 h1{
    font-size: 50px;
}
.box-6 h3{
    font-size: 30px;
}

/* Responsive Rules */

@media screen and (max-width: 715px){
    #introSection{
        font-size:10px;
        padding-bottom: 50px;
        background-size: 500px;
        background-position: bottom;
    }
    #introSection h1 {
        font-size: 25px;
    }
    #introSection .container-1{

    }
    #introSection .container-1{
        margin-bottom: 50px;
        margin-top: 30px;
        height: 400px;
    }
    header li{
        padding: 0 15px 0 0px;
    }
    .container-2{
        flex-direction: column;
    }
    .box-1{
        width: auto;
    }
    .container-3{
        flex-direction: column;
    }
    .box-6{
        margin-top: 0;
    }
    .box-6 h1 {
        font-size: 35px;
    }

    .box-6 h3 {
        font-size: 18px;
    }

}