body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    line-height: 1.5;
    padding: 0;
    margin: 0;
    background-color: #ffffff;
}

/* Global */


.container-1 {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

.container-2 {
    display: flex;
    padding: 0;
    margin: 0;
    list-style: none;
    justify-content: center;
    overflow: hidden;
}

.container-3 {
    display: flex;
    justify-content: space-evenly;
}

.container-4 {
    display: flex;
    padding: 0;
    margin: 0;
    list-style: none;
    justify-content: center;
    overflow: hidden;
}

ul {
    margin: 0;
    padding: 0;
}

.orange {
    color: #FF8552;
}

/* Header */
header {
    background-color: #ffffff;
    color: #2E282A;
    padding-top: 15px;
    padding-bottom: 15px;
}

header a{
    color: #2E282A;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 15px;
}

header nav{
    float: right;
    margin-top: 10px;
}

header li{
    display: inline-block;
    padding: 0 30px 0 0px;
}

/* Showcase */

#Showcase {
    background-color: #ffffff;
    background-image: url(img/coffee222.jpg);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    color: #2E282A;
}

#Showcase .container-1{
    text-transform: uppercase;
    margin-top: 100px;
    text-align: center;
    height: 807px;
}

#Showcase h1{
    margin: 0;
    font-size: 40px;
}

/* About section */

.box-1 {
    background-image: linear-gradient(to bottom, #F4F4F6, #ffffff);
    width: 660px;
    min-height: 800px;
    line-height: 30px;
    padding-left: 50px;
    padding-right: 50px;
    color: black;

    border-left: ridge 1px;
    border-top: ridge 1px;
}

.box-1 h1 {
    padding-top: 15px;
    font-weight: lighter;
    font-style: italic;
}

.box-1 h3 {
    font-weight: lighter;
    font-style: italic;
}

.box-1 p{
    font-style: italic;
}

.box-2 {
    width: 500px;
    background-image: linear-gradient(to bottom, #F4F4F6, #ffffff);


    border-right: ridge 1px;
    border-top: ridge 1px;
}

.box-2 img {
    max-width: 100%;
    height: auto;
}

/* Skills section */

#Skills{
    margin: auto;
    max-width: 1250px;
}

.container-3 img {
    display: block;
    max-width: 100%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}

.container-3 h1 {
    margin-top: 0;
    text-align: center;
    padding-left: 50px;
    padding-right: 50px;
}

.container-3 h2{
    text-align: center;
    font-style: italic;
    font-size: 15px;
}

.container-3 p {
    text-align: left;
    font-size: 10px;
    padding-left: 50px;
    padding-right: 50px;
}

.box-3 {
    flex-basis: 30%;
}
.box-3 h2 {
    color: #3D2645;
}

.box-4 {
    flex-basis: 30%;
}
.box-4 h2 {
    color: darkorange;
}

.box-5 {
    flex-basis: 30%;
}
.box-5 h2 {
    color: darkblue;
}

/* Contact section */

.box-6 {
    background-image: url(img/mail.jpg);
    background-size: cover;
    color: white;
    text-align: center;
    padding: 70px;
    margin-top: 10px;
    margin-bottom: 200px;
    width: 1120px;
}
.box-6 h1{
    font-size: 50px;
}
.box-6 h3{
    font-size: 30px;
}

/* Responsive Rules */

@media screen and (max-width: 715px){
    #Showcase {
        font-size: 10px;
        padding-bottom: 50px;
        background-size: 500px;
        background-position: bottom;
    }
    #Showcase .container-1 {
        margin-bottom: 50px;
        margin-top: 30px;
        height: 400px;
    }
    #Showcase h1 {
        font-size: 25px;
    }
    header li{
        padding: 0 15px 0 0px;
    }
    .container-2{
        flex-direction: column;
    }
    .container-3 {
        flex-direction: column;
    }
    .box-1 {
        width: auto;
    }
    .box-2{
        background-image: none;
        border: none;
    }
    .box-3 p{
        font-size: 13px;
        text-align: center;
    }
    .box-4 p {
        font-size: 13px;
        text-align: center;
    }
    .box-5 p {
        font-size: 13px;
        text-align: center;
    }

    .box-6{
        margin-top: 0;
    }
    .box-6 h1 {
        font-size: 35px;
    }

    .box-6 h3 {
        font-size: 18px;
    }

}